#******************************************************************************
# @(#) check_aix_sysbackup.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_aix_sysbackup HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_aix_sysbackup.log_healthy | default('no') }}"

# full path to the location of mksysb images, the tool expects sub-directories
# per host underneath this location
# [default: /export/images]
backup_path="{{ hc_check_aix_sysbackup.backup_path | default('export/images') }}"

# name of the file containing the mksysb output
# [default: mksysb.log]
mksysb_log="{{ hc_check_aix_sysbackup.mksysb_log | default('mksysb.log') }}"

# maximum days before backup gets flagged as 'too old'
# [default: 14]
backup_age={{ hc_check_aix_sysbackup.backup_age | default('14') }}


#******************************************************************************
# End of FILE
#******************************************************************************
