#******************************************************************************
# @(#) check_host.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_host feature.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify the style in which results should be displayed (see --list-core)
# [default: init]
display_style="init"

# specify the list of HC plugins that need to be executed. All parameters are
# optional except 'HC plugin name'
# [hc:HC plugin name:HC plugin configuration file:HC title:HC plugin run timeout]
{% for plugin in hc_ds_check_host | default([]) | sort %}
hc:{{ plugin | regex_replace('^hc_') }}:{{ vars[plugin]['check_host']['config_file'] | default('') }}:{{ vars[plugin]['check_host']['title'] | default('') | regex_replace(':') }}:{{ vars[plugin]['check_host']['timeout'] | default('') }}
{% endfor %}


#******************************************************************************
# End of FILE
#******************************************************************************
