#******************************************************************************
# @(#) check_exadata_zfs_services.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_exadata_zfs_services HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_exadata_zfs_services.log_healthy | default('no') }}"

# specify the user account for the SSH session to the ZFS appliance(s)
# [default: root]
ssh_user="{{ hc_check_exadata_zfs_services.ssh_user | default('root') }}"

# specify the private key file for the SSH session to the ZFS appliance(s)
# [default: ~root/.ssh/id_rsa]
ssh_key_file="{{ hc_check_exadata_zfs_services.ssh_key_file | default('~root/.ssh/id_rsa') }}"

# specify additional options for the SSH session to the ZFS appliance(s)
# [default: null]
ssh_opts="{{ hc_check_exadata_zfs_services.ssh_opts | default('') }}"

# specify the ZFS hostname(s), services name(s) and their desired state.
# In order to check share(s) for a given ZFS appliance at least one configuration
# entry must be present: either a wildcard or custom entry.
# Format:
#  zfs:<host_name>:<service_name>:<online|disabled>
# Examples:
# check on myzfs1 that svc1 is online
# zfs:myzfs1:svc1:online
{% if hc_check_exadata_zfs_services.hosts is defined and hc_check_exadata_zfs_services.hosts is not none %}
{% for host_entry in hc_check_exadata_zfs_services.hosts | sort %}
{% if host_entry.services is defined and host_entry.services is not none %}
{% for service_entry in host_entry.services | sort %}
zfs:{{ host_entry.name }}:{{ service_entry.name }}:{{ service_entry['state'] | default('') }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
