#******************************************************************************
# @(#) check_linux_fs_usage.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_linux_fs_usage HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_linux_fs_usage.log_healthy | default('no') }}"

# specify whether to perform inode usage check
# [default: yes]
check_inodes_usage="{{ hc_check_linux_fs_usage.check_inodes_usage | default('yes') }}"

# specify whether to perform space usage check
# [default: yes]
check_space_usage="{{ hc_check_linux_fs_usage.check_space_usage | default('yes') }}"

# specify the maximum % of inodes usage a filesystem may reach (general threshold)
# [default: 90]
max_inodes_usage={{ hc_check_linux_fs_usage.max_inodes_usage | default('90') }}

# specify the maximum % of space usage a filesystem may reach (general threshold)
# [default: 90]
max_space_usage={{ hc_check_linux_fs_usage.max_space_usage | default('90') }}

# specify mount points and their maximum usage (in %). When not defining a threshold
# for a given filesystem, the general threshold will be used (see above). When
# defining a threshold of 0 (zero), then the check will for this give filesystem
# will be skipped (this allows for exclusion of filesystems)
# Format:
#  fs:<mount_point>:[<max_inodes_usage_%>]:[<max_space_usage_%]
# Examples:
# check myfs1 with a custom inodes + space usage threshold
#fs:myfs1:70:95
# check myfs2 with the general inodes usage threshold & a custom space usage threshold
#fs:myfs2::80
# check myfs3 with a custom inodes usage threshold & do not check the space usage
#fs:myfs3:99:0
{% if hc_check_linux_fs_usage.fs is defined and hc_check_linux_fs_usage.fs is not none %}
{% for entry in hc_check_linux_fs_usage.fs | sort %}
fs:{{ entry.name }}:{{ entry['max_inodes_usage'] | default('0') }}:{{ entry['max_space_usage'] | default('0') }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
