#******************************************************************************
# @(#) check_hpux_kernel_params.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_hpux_kernel_params HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_hpux_kernel_params.log_healthy | default('no') }}"

# specify kernel parameters and their values or expression (as reported by kctune)
# Format:
#   [param:<param_name>:<param_value>]
# Examples:
#param:nproc:5000
#param:filecache_max:50%
{% if hc_check_hpux_kernel_params.params is defined and hc_check_hpux_kernel_params.params is not none %}
{% for entry in hc_check_hpux_kernel_params.params | sort %}
param:{{ entry.name }}:{{ entry['value'] }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
