#******************************************************************************
# @(#) check_hpux_fs_mounts_options.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_hpux_fs_mounts_options HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_hpux_fs_mounts_options.log_healthy | default('no') }}"

# specify whether non-mounted FS should be alerted on (yes|no)
# [default: yes]
ignore_missing_fs="{{ hc_check_hpux_fs_mounts_options.ignore_missing_fs | default('yes') }}"

# specify mount points and their options (use the mount options as displayed
# by the 'mount' command; order of the options is not important)
# [fs:<mount_point>:<mount_options>]
#fs:my_fs1:my_opts1
#fs:my_fs2:my_opts2
{% if hc_check_hpux_fs_mounts_options.fs is defined and hc_check_hpux_fs_mounts_options.fs is not none %}
{% for entry in hc_check_hpux_fs_mounts_options.fs | sort %}
fs:{{ entry.name }}:{{ entry['options'] }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
