#******************************************************************************
# @(#) check_exadata_cell_griddisks.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_exadata_cell_griddisks HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_heck_exadata_cell_griddisks.log_healthy | default('no') }}"

# specify the user account for the dcli session to the cell server
# [default: root]
dcli_user="{{ hc_heck_exadata_cell_griddisks.dcli_user | default('root') }}"

# specify the cell servers to query
# [default: null]
cell_servers="{{ hc_heck_exadata_cell_griddisks.cell_servers | default('') }}"

# specify which grid disks to exclude from the check (comma-separated)
# [default: null]
excluded_disks="{{ hc_heck_exadata_cell_griddisks.excluded_disks | default('') }}"

# specify whether to check the errorCount of griddisks (yes|no)
# [default: yes]
check_errorcount="{{ hc_heck_exadata_cell_griddisks.check_errorcount | default('yes') }}"


#******************************************************************************
# End of FILE
#******************************************************************************
