#******************************************************************************
# @(#) check_clusterware_resource_status.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_clusterware_resource_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_clusterware_resource_status.log_healthy | default('no') }}"

# location of the crsctl tool
# [default: null (autodiscovery)]
crsctl_bin="{{ hc_check_clusterware_resource_status.crsctl_bin | default('') }}"

# list of required resource statuses
# Format:
#  crs:<resource_name>:<*|node>=<ONLINE|OFFLINE>,<*|node>=<ONLINE|OFFLINE>,...
# Note: ONLINE definitions must precede OFFLINE definitions (if used)
# Examples:
#crs:res1:node1=ONLINE
#crs:res2:*=ONLINE
#crs:res3:node1=ONLINE,node2=OFFLINE
{% if hc_check_clusterware_resource_status.resources is defined and hc_check_clusterware_resource_status.resources is not none %}
{% for resource_entry in hc_check_clusterware_resource_status.resources | sort(attribute='name')  %}
crs:{{ resource_entry.name }}:{{ param_entry['state'] }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
