#******************************************************************************
# @(#) check_linux_fail2ban_status.conf [release >=20201018]
#******************************************************************************
# This is a configuration file for the check_linux_fail2ban_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_linux_fail2ban_status.log_healthy | default('no') }}"

# specify which type of process check to use
# Format: <auto|pgrep|sysv|systemd>. NULL value equals to "auto"
# [default: auto]
check_type="{{ hc_check_linux_fail2ban_status.check_type | default('auto') }}"

# specify the list jails to status check (comma-separated)
# Format: jail1,jail2,jail3,...
# [default: none]
{% if hc_check_linux_fail2ban_status.check_jails is defined and hc_check_linux_fail2ban_status.check_jails is not none %}
check_jails="{{ hc_check_linux_fail2ban_status.check_jails | default('') | join(',') }}"
{% else %}
check_jails=""
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
