#******************************************************************************
# @(#) check_serviceguard_cluster_status.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_serviceguard_cluster_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_serviceguard_cluster_status.log_healthy | default('no') }}"

# list of required cluster statuses
# Format:
#  sg:<parameter>=<value>
# Examples:
#sg:status=up
{% if hc_check_serviceguard_cluster_status.params is defined and hc_check_serviceguard_cluster_status.params is not none %}
{% for entry in hc_check_serviceguard_cluster_status.params | sort(attribute='name') %}
sg:{{ entry.name }}={{ entry['value'] }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
