#******************************************************************************
# @(#) notify_sms.conf [release >=20200418]
#******************************************************************************
# This is the the configuration file for the notify_sms.sh provider.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# --- SMS settings ---
# list of supported SMS providers (comma-separated)
SMS_PROVIDERS="{{ hc_notify_sms.sms_providers | default('') }}"


#******************************************************************************
# End of FILE
#******************************************************************************
