#******************************************************************************
# @(#) check_hpux_ovpa_status.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_hpux_ovpa_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_hpux_ovpa_status.log_healthy | default('no') }}"

# list of OVPA daemons to check (comma-separated list)
# [default: oacore,midaemon,perfalarm,ttd,ovcd,ovbbccb,perfd (v12)]
ovpa_deamons="{{ hc_check_hpux_ovpa_status.ovpa_daemons | default('oacore,midaemon,perfalarm,ttd,ovcd,ovbbccb,perfd') }}"


#******************************************************************************
# End of FILE
#******************************************************************************
