#******************************************************************************
# @(#) check_exadata_megaraid.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_exadata_megaraid HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_exadata_megaraid.log_healthy | default('no') }}"

# specify whether to check the controller state (yes|no)
# [default: yes]
check_controller="{{ hc_check_exadata_megaraid.check_controller | default('yes') }}"

# specify whether to check the BBU (battery) state (yes|no)
# [default: yes]
check_bbu="{{ hc_check_exadata_megaraid.check_bbu | default('yes') }}"

# specify whether to check the BBU (supercap) state (yes|no)
# [default: yes]
check_supercap="{{ hc_check_exadata_megaraid.check_supercap | default('yes') }}"

# specify whether to check the physical devices (yes|no)
# [default: yes]
check_physical="{{ hc_check_exadata_megaraid.check_physical | default('yes') }}"

# specify whether to check the virtual devices (yes|no)
# [default: yes]
check_virtual="{{ hc_check_exadata_megaraid.check_virtual | default('yes') }}"


#******************************************************************************
# End of FILE
#******************************************************************************
