#******************************************************************************
# @(#) check_serviceguard_package_config.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_serviceguard_package_config HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_serviceguard_package_config.log_healthy | default('no') }}"

# Examples:
#[mypkg1]
#param1		value1
#param2		value2

#[mypkg2]
#param1		value1
#param2		value2
{% if hc_check_serviceguard_package_config.packages is defined and hc_check_serviceguard_package_config.packages is not none %}
{% for package_entry in hc_check_serviceguard_package_config.packages %}
[{{ package_entry.name }}]
{% if package_entry.params is defined and package_entry.params is not none %}
{% for param_entry in package_entry.params | sort %}
{% for key,value in param_entry.items() %}
{{ key }}	{{ value }}
{% endfor %}
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
