#******************************************************************************
# @(#) check_exadata_zfs_cluster.conf [release >=20200418]
#******************************************************************************
# This is a configuration file for the check_exadata_zfs_cluster HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="{{ hc_check_exadata_zfs_cluster.log_healthy | default('no') }}"

# specify the user account for the SSH session to the ZFS appliance(s)
# [default: root]
ssh_user="{{ hc_check_exadata_zfs_cluster.ssh_user | default('root') }}"

# specify the private key file for the SSH session to the ZFS appliance(s)
# [default: ~root/.ssh/id_rsa]
ssh_key_file="{{ hc_check_exadata_zfs_cluster.ssh_key_file | default('~root/.ssh/id_rsa') }}"

# specify additional options for the SSH session to the ZFS appliance(s)
# [default: null]
ssh_opts="{{ hc_check_exadata_zfs_cluster.ssh_opts | default('') }}"

# specify the ZFS hostname(s) to check the cluster states on
# Format:
#  zfs:<host_name>
# Examples:
# zfs:myzfs1
{% if hc_check_exadata_zfs_cluster.hosts is defined and hc_check_exadata_zfs_cluster.hosts is not none %}
{% for entry in hc_check_exadata_zfs_cluster.hosts %}
zfs:{{ entry }}
{% endfor %}
{% endif %}


#******************************************************************************
# End of FILE
#******************************************************************************
